* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root {
  --soft-yellow: #f0f3bd;
  --strong-cyan: #02c39a;
  --dark-cyan: #00a896;
  --darker-cyan: #028090;
  --dark-blue: #05668d;
}

body {
  background-color: var(--soft-yellow);
}

.header {
  margin: 20px 80px;
  font-size: 20px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  max-width: 400px;
}

.image {
  width: 100%;
}

#card:hover {
  cursor: pointer;
}

#title {
  text-align: center;
}
